body {
  margin: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}


#buttons {
  background: rgb(255, 255, 255,.7);
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 100px;
  border-radius: 3px;
  width: 120px;
  border: 1px solid rgb(255, 255, 255,.7);
  font-family: 'Arial', sans-serif;
  border-radius: 20px;  
  padding: 10px;
}


#buttons a {
  font-size:16px;
  color: #ffffff;
  display: block;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  text-align: center; 
  border-radius: 20px;  
  border: 2px solid #f8f8f8;
}


#buttons a:hover {
  border-color: grey;
}

.switch {
  position: relative;
  display: inline-block;
  width: 108px;
  height: 32px;
  text-align: center;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  margin-left: 10px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #8e8ebe;
}

input:focus + .slider {
  box-shadow: 0 0 1px #8e8ebe;
}

input:checked + .slider:before {
  transform: translateX(64px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.mapbox-directions-instructions {
  display: none;
}

#mapformat {
  position: absolute;
  left:10px;
  top:10px;
  border-radius: 20px;  
  background: rgb(255, 255, 255,.7);
  padding: 10px;
  font-family: 'Arial', sans-serif;
  z-index: 1;
  }

.mypopup{
  width: 180;
}

.mapboxgl-popup-content {
  border-radius: 20px !important;
  text-align: center;
}

